
<style type="text/css">
    /* Custom css */
	#header-wrapper {
	    background: url(../images/bg-light.gif) 50% -1px no-repeat;
	    color: #fff;
	    text-align: center;
	    border-bottom: 4px solid rgb(97, 97, 97);
	    padding: 1rem;
	}
	.searchbox {
	    margin-top: 1rem;
	    position: relative;
	    border: 1px solid #915eae;
	    background: #bbb;
	    border-radius: 4px;
	}
	.searchbox label {
	    color: #111;
	    position: absolute;
	    left: 10px;
	    top: 3px;
	}
	.searchbox span {
	    color: #111;
	    position: absolute;
	    right: 10px;
	    top: 3px;
	    cursor: pointer;
	}
	.searchbox span:hover {
	    color: rgba(255, 255, 255, 0.9);
	}
	.searchbox input {
	    display: inline-block;
	    color: #111;
	    width: 100%;
	    height: 30px;
	    background: transparent;
	    border: 0;
	    padding: 0 25px 0 30px;
	    margin: 0;
	    font-weight: 300;
	}
	.searchbox input::-webkit-input-placeholder {
	     color: #111;
	}
	.searchbox input::-moz-placeholder {
	     color: #111;
	}
	.searchbox input:-moz-placeholder {
	    color: #111;
	}
	.searchbox input:-ms-input-placeholder {
	     color: #111;
	}
</style>