{{ $filename := .Get "filename" }}
{{ $fullfile := path.Join .Page.File.Dir $filename }}
{{ $content := "" }}

{{ if .Inner }}
    {{ $content = .Inner }}
{{ else }}
    {{ $content = readFile $fullfile }}
{{ end }}


{{ if not (.Page.Scratch.Get "loaded") }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/codemirror@5.59.2/lib/codemirror.css" integrity="sha256-ylWkFzi+pmuVQm80SJjUJvNjzXmRc6+naSkH2xWL5+8=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/codemirror@5.59.2/theme/monokai.css" integrity="sha256-JGPcb9kgGaDHyiqqAdAxFrKA+nxq4BvyHffBB9m2g+g=" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/codemirror@5.59.2/lib/codemirror.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/codemirror@5.59.2/mode/javascript/javascript.js" integrity="sha256-XxB90cNdnOuUFQjAE56w4OBTdMu5SHChSz02/Ki3oAQ=" crossorigin="anonymous"></script>
    {{ .Page.Scratch.Set "loaded" true }}
{{ end }}

<div class="pg-section" id="pg-{{ $filename }}">
    <p>
    <a class="pg-play btn btn-warning"><i class="fas fa-play"></i> Run </a>
    <a class="pg-download btn btn-outline-warning"><i class="fas fa-download"></i> Download </a>
    </p>

    <textarea class="code-mirror" rows="40">{{ $content }}</textarea>
</div>


<script>
    (function(filename){
        var win, section;
        var section = document.getElementById('pg-' + filename);

        var el = section.querySelector('.code-mirror');
        var cm = CodeMirror.fromTextArea(el,{ theme:'monokai' });

        cm.setSize(null, 500);

        section.querySelector('.pg-download').addEventListener('click', function(){
            var blob = new Blob([cm.getValue()], { type: 'text/javascript' });

            if (window.navigator.msSaveOrOpenBlob) window.navigator.msSaveBlob(blob, filename);
            else {
                var elem = window.document.createElement('a');
                elem.href = window.URL.createObjectURL(blob);
                elem.download = filename;
                document.body.appendChild(elem);
                elem.click();
                document.body.removeChild(elem);
            }
        });

        section.querySelector('.pg-play').addEventListener('click', function(){
            var runminnoUrl = '{{ relURL "runminno.html" }}';
            if (win) win.close();
            win = window.open(runminnoUrl, 'Playground');
            win.onload = function(){
                win.addEventListener('unload', function() {
                    window.focus();
                });
                win.activate(cm.getValue());
            };
        });
    })('{{ $filename }}');
</script>
